<div class="jumbotron">
  <h1 class="display-4">Hello, this is HackBrite!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to "Create event", new_event_path, class:"btn btn-primary"  %>
  </p>
</div>

<div class="card-deck">
 <% @events.each do |event| %>
 <div class="col-4 justify-content-around mb-4 mt-2">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= event.title %></h5>
      <p class="card-text"><%= event.description %></p>
    </div>
    <div class="card-footer">
    <%= link_to "Look at event", event_path(event.id), class: "btn", method: "get" %>
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <% end %>
  </div>
</div>