<h1>test show event <%= @event.id %> </h1>


<div class="jumbotron">
  <h1 class="display-4"> <%= @event.title %> </h1>
  <p class="lead"> <strong>Event description: </strong><%= @event.description %></p>
  <hr class="my-4">
  <p> <strong>City: </strong> <%= @event.location %> </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>