<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %>, content de te revoir</h1>
    <p>
      Tu viens de créer l'évènement: <strong><%= @event.title %></strong> !</p>
    <p>
      Voilà une rapide description de l'évènement:
      <strong><%= @event.description %></strong>.
    </p>
    <p>
      N'oublie pas d'inviter tous tes potos.
    </p>
    <p>
      Pour rappel, tu peux accéder à ton espace client via : <%= link_to "Login page", @new_user_session_url %>.
    </p>
    <p> À très vite sur HackBrite.fr !
  </body>
</html>